.macroBoxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}
.macroBox{
    display: flex;
    flex-direction: column;
    border-style: solid;
    justify-content: space-between;
    width: 20%;
    text-align: center;

}

.macroContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.macroNutrientStatBox {

    margin: 0 0px;

    display:flex;
    flex-direction: column;
     border-style: solid;
    justify-content:space-between;
    width: 20%;
}

.macroNutrientStatBox input{
    width: 20%;
}
