
/* BANNER STYLING -DONE */
.FitnessPage.Baner {
  width: 100%;
  float: left;
}
.FitnessPage{
    height: fit-content;
}
.FitnessPage.Baner{
    width: 100%;
    float: left;

}
.FitnessPage .mworkout,
.FitnessPage .recommend,
.FitnessPage .workoutl {
  width: 33.33%;
  float: left;
  height: 300px;
  padding-top: 50px;
}
.recommend .recommended-workout-list {
  list-style-type: none;
  padding: 0;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
}

.recommend .recommended-workout-item {
  margin-bottom: 10px;
  width: calc(100% - 300px); /* Adjusted width to account for margin */
}

.recommend .recommended-workout-item button {
  width: 100%; /* Adjusted width */
  height: 50px; /* Reduced height */
  line-height: 50px; /* Centering text vertically */
  background-color: #f0f0f0;
  border: 2px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* Reduced font size */
  color: #333;
  overflow: hidden; /* Hide overflowing text */
  margin: 10px; /* Adjusted margin */
}

.recommend .recommended-workout-item button:hover {
  background-color: #e0e0e0;
}