 .FitnessPage.Baner{
    width: 100%;
    float: left;
}
 .FitnessPage .mworkout, .FitnessPage .recommend, .FitnessPage .workoutl{
    width: 33.33%;
    float: left;
    height: 300px;
    padding-top: 50px;
    
}

.FitnessPage .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Style table headers */
  .FitnessPage .th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style table cells */
  .FitnessPage .td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Style alternating rows */
  .FitnessPage .tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style hover effect */
  .FitnessPage .tr:hover {
    background-color: #ddd;
  }