 .myworkout-table {
    width: 300px;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    
}

 .WorkoutComponent table {
    width: 300px;
    border-collapse: collapse;
    align-content: center;
}

.FitnessPage th, .FitnessPage td {
    border: 1px solid hsl(246, 82%, 42%);
    text-align: left;
    padding: 8px;
}

 .FitnessPage button {
    margin-top: 20px;
    margin: 2.5px;
    align-content: center;
    float: left;
}



@media screen and (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    .container {
        flex-direction: column;
    }
}

 .create-workout-box, .select-workout-box {
  width: 250px;
  height: 50px;
  background-color: #f0f0f0;
  border: 2px dashed #aaa;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  cursor: pointer;
  font-size: 18px;
  color: #333;
  margin: 10px auto; /* Auto margin for centering */
}

.create-workout-box, .select-workout-box:hover {
    background-color: #e0e0e0;
}

.prebuilt-workout-list {
    list-style-type: none;
    padding: 0;
  }
  
  .prebuilt-workout-item {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
  }
  
   .prebuilt-workout-item:hover {
    background-color: #e0e0e0;
  }

  .saved-workout-list {
    list-style-type: none;
    padding: 0;
  }

  .saved-workout-item {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
  }

  .saved-workout-item:hover {
    background-color: #e0e0e0;
  }

.cancel-button-container{
  display: flex;
  justify-content: center;
}

