.myworkout-table {
  display: flex;
  flex-direction: column;
  width: 90%; /* Adjust width */
  margin: 0 auto;
  padding: 20px; /* Add padding */
  border-radius: 8px;
  overflow: hidden;
}
.myworkout-table button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #00bfff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.myworkout-table button:hover {
  background-color: #00a5ff;
}
.workout-table th,
.workout-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

.workout-name-input {
  margin: 10px auto;
  padding: 8px;
  width: 300px;
  display: block;
}

.delete-exercise-button {
  margin-left: 5px;
}

.workout-table input[type="text"] {
  margin: 5px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  width: calc(100% - 40px); /* Adjust width */
}

.workout-table button {
  margin: 5px;
  padding: 6px 12px;
  border: none;
  background-color: #00bfff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.workout-table button:hover {
  background-color: #00a5ff;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Responsive layout */
@media screen and (max-width: 768px) {
  .workout-name-input {
    width: calc(100% - 20px);
  }
}

.create-workout-box,
.select-workout-box {
  margin: 10px auto;
  padding: 12px;
  width: 200px;
  background-color: #00bfff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-workout-box:hover,
.select-workout-box:hover {
  background-color: #00a5ff;
}