.myworkout-table {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f5f5f5; /* Add background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.workout-components {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the exercises */
}

.workout-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Center horizontally */
  margin-bottom: 10px;
  background-color: #fff; /* Add background color */
  padding: 10px; /* Add padding */
  border-radius: 8px; /* Add border radius */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.exercise-with-button {
  display: flex;
  align-items: center;
}

.delete-exercise-button {
  margin-left: 5px;
}

.workout-name-input {
  margin: 10px auto;
  padding: 8px;
  width: 300px;
  display: block;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.create-workout-box,
.select-workout-box {
  margin: 10px auto;
  padding: 12px;
  width: 200px;
  background-color: #00bfff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-workout-box:hover,
.select-workout-box:hover {
  background-color: #00a5ff;
}