.workout-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.WorkoutLogItem {
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-width: .1em;
  border-color: #d1d1d1;
  border-radius: .5em;
  margin-top: 20px;
  padding: 20px;
  width: 90%;
  min-width: 300px; /* Added min-width to ensure it doesn't shrink too much */
}

.ExerciseLogEntry {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.ExerciseLogEntry p {
  margin-left: 1em;
}

.SetLogEntry {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-left: 1em;
}

/* Styles for the main workout log table */
.main-workout-log-table {
  width: 90%;
  margin-top: 20px;
  min-width: 300px; /* Added min-width to ensure it doesn't shrink too much */
}

.main-workout-log-table table {
  width: 100%;
  border-collapse: collapse;
}

.main-workout-log-table th,
.main-workout-log-table td {
  border: 1px solid #d1d1d1;
  padding: 8px;
  text-align: center;
}

.main-workout-log-table th {
  background-color: #d1d1d1;
}

/* Remove the commented-out style for .detailed-workout-log */

.detailed-workout-log h2 {
  margin-bottom: 10px;
}

.ExerciseLogEntry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.SetLogEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

/* Styles for the table within .detailed-workout-log */
.detailed-workout-log table {
  width: 100%;
  border-collapse: collapse;
}

.detailed-workout-log th,
.detailed-workout-log td {
  border: 1px solid #060505;
  padding: 8px;
  text-align: center;
}

.detailed-workout-log th {
  background-color: #d1d1d1;
}