.ProfilePage input, .ProfilePage select {
    border: 1px solid;
    width: 55%;
    border-radius: 3px;
}


.ProfilePage div .button3 {
    right: 35px;
    background-color: #ffffff;

}

.ProfilePage .button2 {
    background-color: #ffffff;
    position: absolute;
    width: 80px;
    height: 45px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    right:140px ;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(102, 102, 102);

}