.ProfilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    height: fit-content;
}

/*Profile data background box*/
.ProfilePage div{
    max-height: fit-content;
    background-color: gainsboro;
    min-width:525px;
    width: 50%;
  }
/*Profile data alignment and style*/
.ProfilePage .UserI {
    border: solid 1px;
    border-bottom: solid 2px;
    display:flex;
    position: relative;
    flex-direction: row;
    justify-content:space-evenly;
    margin: auto 15%;
    padding: 0 5% 0 5%;
    height: 75px;
}

.ProfilePage .UserI div p {
    margin:0;
    min-width: 87px;
    border: sold;
}

.ProfilePage .UserI div p:nth-child(2){
    color: rgba(0, 0, 0, 0.4);
}

.ProfilePage .UserI div {
    display: flex;
    justify-content: left;
    align-items: center;
    min-width: max-content;
    font-weight: bolder;
    border: sold;
    width: 100%;
    min-width: 100px;
}
/*button*/
.ProfilePage .UserI:nth-child(7) div,.ProfilePage .UserI:nth-child(13) div{
    position: relative;
}

.ProfilePage .button1, .ProfilePage .button3 {
    position: absolute;
    width: 80px;
    height: 45px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    right: 90px;
    box-shadow: 2px 2px 5px rgb(102, 102, 102);

}

.ProfilePage .button1:hover, .ProfilePage .button2:hover, .ProfilePage .button3:hover {
    background-color: #4bc1f7;
}
.ProfilePage .button1:active, .ProfilePage .button2:active, .ProfilePage .button3:active {
    background-color: darkblue;
 }
/*switch display*/
.ProfilePage .switch {
    position: relative;
    display: inline-block;
    top: 5px;
    left: 4%;
    width: 40px;
    height: 21px;
    margin: 0;
    border:solid 2px;
    border-radius: 20px;
}

.ProfilePage .switch input {
    display: none;
}

.ProfilePage .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.ProfilePage .slider:before {
    position: absolute;
    content: "";
    height: 70%;
    width: 38%;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.ProfilePage input:checked + .slider {
    background-color: #1eff00;
}

.ProfilePage input:checked + .slider:before {
    transform: translateX(115%);
}