.PickExercise{
    position:absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 6%;
    left: 0;
    right: 0;
    bottom: 0;
  
}
.PickExercise .PickExerciseWindow{
    background-color: white;
    width: 70%;
    height: 60%;
    border-style: solid;
    border-radius: 1em;
    border-width: .1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PickExercise .PickExerciseWindow .PickExerciseWindowList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width: 80%;
    overflow-y: scroll;
    
}
.PickExercise .PickExerciseWindow .PickExerciseWindowList .PickExerciseWindowListElement{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 33%;
    display: inline-block;
    border-style: solid;
    border-width: .1em;
    margin:1em;
}
.PickExerciseWindowListElement :hover{
cursor: pointer;
}
.PickExercise .PickExerciseWindow .PickExerciseWindowList :hover{
    cursor: pointer;
}

.PopupHeaderFlexRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin:0;
    width: 100%;
  }
.PopupHeaderFlexRow h1{
    justify-self: center;
}
.PopupHeaderFlexRow button{
    align-self: baseline;
    font-size: x-large;
    width: 15%;
    border-top-right-radius: .5em;
    border-width: .1em;
    border-color: #d1d1d1;
}


.PickWorkout {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 6%;
    left: 0;
    right: 0;
    bottom: 0;
}

.PickWorkout .PickWorkoutWindowColumn {
    background-color: white;
    width: 70%;
    height: 60%;
    border-style: solid;
    border-radius: 1em;
    border-width: .1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PickWorkout .PickWorkoutWindowColumn .PickWorkoutWindowContent {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.PickWorkoutWindowListElement {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.PickWorkoutWindowListElement:hover {
    background-color: #e2e2e2;
}
