.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}




.NavigationFlexBox{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: center;
  width: 100%;
  height: 5%;
}

.App .HomePage, .LoginRegisterPage, .NutritionPage, .ProfilePage, .FitnessPage{
  height: 95%;
}