.HomePage {
    position: relative;
    background-image: url('/public/background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

.HomePage{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;


}
.HomePage .WeightGraph, .tips, .workout_log{
  background-color: rgba(185, 185, 185, 0.164);
  border-style: solid;
}




.HorizontalFlexBox{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30%;
  width: 80%;
}
.HorizontalFlexBox .WeightGraph, .SpacerDiv, .tips{
  width: 100%;
}





.workout_log{
  display: flex;
  flex-direction: column;
  height:40%;
  width: 80%;
}
.workout_log .WorkoutLogRow{
  height:20%;
}



.HomePage #next_button:hover{
  background-color: rgba(23, 251, 255, 0.411);
}
